// bower:scss
// endbower
$screen-md: 960px;
.full-height {
  padding-top:20px;
  padding-bottom:20px;
  min-height: calc(100vh - 64px);
}
@media screen and (max-width: $screen-md) {
  .full-height {
    min-height: calc(100vh - 48px);
  }
}
.card{
  background-color: white;
}
.card-content{
  padding:20px;
  width: 100%;
}
.app-container{
  height: calc(100vh - 128px);
}
@media screen and (max-width:$screen-md){
  .app-container{
    height: calc(100vh - 96px);
  }
}
md-input-container .md-errors-spacer{
 min-height: 0px !important;
}
a{
  color: #039be5;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
