<div ng-controller="HeaderCtrl">
  <md-whiteframe class="md-whiteframe-2dp" layout layout-align="center center">
    <md-toolbar class="" style="background-color:#fff;color:#616161;">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Login" ng-click="">
            <i class="material-icons">arrow_back</i>
          </md-button>
          <span flex style="text-align: center">
            AppName
          </span>
          <md-button class="md-icon-button" aria-label="Login" ng-click="">
            <i class="material-icons">message</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Login" ng-click="">
            <i class="material-icons">dashboard</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Login" ng-click="">
            <i class="material-icons">history</i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Login" ng-click="">
            <i class="material-icons">settings</i>
          </md-button>
        </div>
      </md-toolbar>
  </md-whiteframe>
</div>
