<div ng-controller="HeaderCtrl">
  <md-whiteframe class="md-whiteframe-2dp" layout layout-align="center center">
    <md-toolbar class="">
        <div class="md-toolbar-tools">
          <h2>
            <span>Namsai</span>
          </h2>
          <span flex></span>
          <md-button class="md-button" aria-label="เอกสาร">
            <span>Docs</span>
          </md-button>
          <md-button class="md-button" aria-label="Login" ng-click="gotoPath('/login');">
            <span>login</span>
          </md-button>
        </div>
      </md-toolbar>
  </md-whiteframe>
</div>
