<div ng-if="!notFoundRepo">
  <div ng-include="'views/header.html'" ></div>
  <div>
    <md-whiteframe class="md-whiteframe-2dp" layout layout-align="center center">
      <md-toolbar class="" style="background-color:#fff;color:#616161;">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Login" ng-click="">
              <i class="material-icons">arrow_back</i>
            </md-button>
            <span flex style="text-align: center">
              {{appname}}
            </span>
            <md-button class="md-icon-button" aria-label="Login" ng-click="">
              <i class="material-icons">message</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Login" ng-click="">
              <i class="material-icons">dashboard</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Login" ng-click="">
              <i class="material-icons">history</i>
            </md-button>
            <md-button class="md-icon-button" aria-label="Login" ng-click="">
              <i class="material-icons">settings</i>
            </md-button>
          </div>
        </md-toolbar>
    </md-whiteframe>
  </div>
  <div class="app-container" layout="row">
    <div flex="25" layout="column" style="position:relative;">
      <md-whiteframe class="md-whiteframe-1dp" style="margin:10px;height:100%;background-color:#fff;position:relative">
        <div ng-if="stories">
          <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">
            <md-toolbar class="" style="background-color:#fff;color:#616161;">
                <div class="md-toolbar-tools">
                  <md-input-container md-no-float class="md-block" style="width:100%;">
                    <input ng-model="search" type="text" placeholder="Search">
                  </md-input-container>
                </div>
              </md-toolbar>
          </md-whiteframe>
        </div>
        <div ng-if="!stories" style="width:100%;height:100%;" layout layout-align="center center">
          <div>Add new topic by tap (+) button</div>
        </div>
        <div style="position:absolute;right:0px;bottom:5px;">
          <md-button class="md-fab md-primary" aria-label="Add">
              <md-icon md-font-set="material-icons">add</md-icon>
          </md-button>
        </div>
      </md-whiteframe>
    </div>
    <div flex="50" layout="column">
      <md-whiteframe class="md-whiteframe-1dp" style="margin-top:10px;margin-bottom:10px;height:100%;background-color:#fff;">
        <div ng-if="topic">
          <md-whiteframe class="md-whiteframe-1dp" layout layout-align="center center">
            <md-toolbar class="" style="background-color:#fff;color:#616161;">
                <div class="md-toolbar-tools">
                  <md-input-container md-no-float class="md-block">
                    <input ng-model="user.phone" type="text" placeholder="Topic">
                  </md-input-container>
                  <span flex>
                  </span>
                  <md-button class="md-icon-button" aria-label="Login" ng-click="">
                    <i class="material-icons">delete</i>
                  </md-button>
                </div>
              </md-toolbar>
          </md-whiteframe>
        </div>
        <div ng-if="!topic" style="width:100%;height:100%;" layout layout-align="center center">
          <div>Choose topic from left panel</div>
        </div>
      </md-whiteframe>
    </div>
    <div flex="25" layout="column">
      <md-whiteframe class="md-whiteframe-1dp" style="margin:10px;height:100%;background-color:#fff;padding:20px;">
        Not Avaliable Untill Next patch
      </md-whiteframe>
    </div>
  </div>
</div>
<div ng-if="notFoundRepo">
  <div ng-include="'views/status404.html'" ></div>
</div>
