<nav class="white">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left">
        <li><a class="grey-text" href="badges.html"><i class="material-icons">arrow_back</i></a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="grey-text" href="sass.html">Sass</a></li>
        <li><a class="grey-text" href="badges.html">Components</a></li>
        <li><a class="grey-text" href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
